* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


.container {
    width: 95%;
    margin: 0 auto;
}

.container-fluid {
    max-width: 83%;
    margin: 0 auto;
}

.container-commerce{
    max-width: 75%;
    margin: 0 auto
}

header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    z-index: 3;
        .head{
            align-items: center;
            justify-content: space-between;
            display: flex;
            width: 100%;
            height: 100%;
                .logo{
                display: flex;
                    a{
                    display: flex;
                    width: 79px;
                    height: 24px;
                    }
                }


                /* navigation */

            .site-navigation{
                position: relative;
                justify-content: center;
                display: flex;
                width: 100%;
                
                nav{
                    display: flex;
                    
                    ul{
                    display: flex;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                        li{
                        
                        margin-left: 42px;
                                a{
                                
                                color: #1C1C1C;
                                font-family: 'Roboto', sans-serif;
                                font-size: 14px;
                                align-items: center;
                                }
                               
                        }
                    }
                }
        }

        .log{
            width: 30%;
            display: flex;
            height: 100%;
                ul{
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: center;
                        button {
                        display: flex;
                        justify-content: flex-end;
                        width: 157px;
                        height: 40px;
                        align-items: center;
                        background-color: #6F2CFF;
                        border: none;
                        border-radius: 20px;
                        justify-content: center;
                        cursor: pointer;
                .btn {
                    color: #fff;
                    }
                    
                }
                li{
                    /* display: flex; */
                    .log-in {
                        margin-left: 42px;
                        display: flex;
                        color: #1C1C1C;
                        font-family: 'Roboto', sans-serif;
                        font-size: 14px;
                        align-items: center
                    }
                }
            }
        }
    }
}

main{
    width: 100%;
    height: 320vh;
    display: flex;
    flex-direction: column;
    position: absolute;

        .introduction {
    background-image: url(../image/bg\ 1.png);
    width: 100%;
    height: 700px;
    background-size: cover;
    padding-bottom: 40px;
    
        .content{
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
                .slogan{
                    width: 261px;
                    font-size: 15px;
                    font-weight: 400;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 19px;
                }
                .head-content{
                    width: 470px;
                    height: 61px;
                        h1{
                            font-size: 54px;
                            font-family: 'Roboto', sans-serif;
                            line-height: 61px;
                        }
                }
                .middle-content{
                    width: 470px;
                    height: 61px;
                        h2{
                            font-size: 54px;
                            font-family: 'Roboto', sans-serif;
                            color:#6F2DFF;
                            line-height: 61px;
                        }
                }
                .description{
                    width: 458px;
                    height: 120px;
                    margin-top: 37px;
                        h3{
                            font-family: 'Roboto', sans-serif;
                            font-weight: 100;
                            font-size: 18px;
                            align-content: flex-end;
                            line-height: 30px;
                            span{
                                font-weight: 900;
                            }
                        }
                }
                .register {
                    display: flex;
                    width: 100%;
                    height: 0 auto;
                    input{
                        
                        width: 268px;
                        height: 45px;
                        border: 1px solid #6F2CFF;
                        border-radius: 20px 0 0 20px;
                        padding-left: 19px;
                    }
                    .demo{
                        width: 187px;
                        background-color: #6F2CFF;
                        border: 1px solid #6F2CFF;
                        border-radius: 0 20px 20px 0;
                        cursor: pointer;
                            a{
                                color: #fff;
                                font-family: 'Roboto', sans-serif;
                            }
                    }
                }
        }
    }


        .top{
    width: 100%;
    background-color: #fff;
    height: 100vh;
    
        .brands{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 50px;
            flex-wrap: wrap;
            /* align-items: center; */
                .brands-introduction{
                    width: 100%;
                    height: 94px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                        h3{
                            color: #1C1C1C;
                            font-family: 'Roboto', sans-serif;
                            font-size: 18px;
                            align-items: center;
                        }
                }
                .customers{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    ul{
                        display: flex;
                        width: 100%;
                        height: 37px;
                        justify-content: space-between;
                        flex-wrap: wrap;

                    }
                }
                .to-customers{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 66px;
                    align-items: center;
                    flex-direction: column;
                    flex-wrap: wrap;
                    position: relative;
                        a{
                            color: #1C1C1C;
                            font-family: 'Roboto', sans-serif;
                            font-size: 18px;
                            line-height: 33px;
                            font-weight: 700;
                        }
                        .underline{
                            content: '';
                            display: flex;
                            width: 200px;
                            border-radius: 10px;
                            height: 4px;
                            background: #6F2CFF;
                            /* margin: 20px auto 25px; */
                        }
                            
                }
                
        }

    .stats{
        display: flex;
        width: 100%;
        max-height: 66vh;
        padding-top: 50px;
        align-items: center;
        
            .stats-book{
                display: flex;
                width: 65%;
                height: 45vh;
                align-items: center;
                .slogan-2{
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                        h1{
                        padding-bottom: 58px;
                        font-size: 40px;
                        line-height: 45px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                        }
                        .demo-btn{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            width: 100%;
                            flex-wrap: wrap;
                            .demo{
                                    display: flex;
                                    justify-content: flex-end;
                                    width: 187px;
                                    height: 40px;
                                    align-items: center;
                                    background-color: #6F2CFF;
                                    border: none;
                                    border-radius: 20px;
                                    justify-content: center;
                                    cursor: pointer;
                                        a{
                                            color: #fff;
                                        }
                                }
                            .to-customers-2{
                                display: flex;
                                justify-content: center;
                                width: 50%;
                                height: 66px;
                                align-items: center;
                                flex-direction: column;
                                    a{
                                        color: #1C1C1C;
                                        font-family: "Roboto", sans-serif;
                                        font-size: 16px;
                                        line-height: 33px;
                                        font-weight: 700;                          
                                    }
                                        .underline-2{
                                                content: "";
                                                display: flex;
                                                width: 164px;
                                                border-radius: 10px;
                                                height: 4px;
                                                background: #6F2CFF;
                                             
                                        }
                            } 

                        }
                        .audit{
                            display: flex;
                            width: 100%;
                            height: 50px;
                            flex-direction: column;
                                h3{
                                    color: #1C1C1C;
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 15px;
                                    line-height: 30px;
                                    font-weight: 600;
                                    padding-bottom: 7px;
                                    padding-top: 56px; 
                                }
                                a{
                                    color: #1C1C1C;
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 15px;
                                    line-height: 30px;
                                    font-weight: 400;
                                    border-bottom: 0.5px solid #1C1C1C;
                                    width: 26%;
                                }
                        }
                    }
                
            }
            .stats-left{
                display: flex;
                width: 30%;
                height: 660px;
                border-left: 1px solid #E0E0E0;
                
                ul{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: space-between;
                    flex-direction: column;
                    padding-left: 10px;
                    li {
                        flex-direction: column;
                        display: flex;
                        width: 100%;
                        height: 30%;
                            P{
                                color: #1C1C1C;
                                font-family: 'Roboto', sans-serif;
                                font-size: 40px;
                                line-height: 45px;
                                font-weight: 700;
                                padding-bottom: 15px;
                                 
                            }
                            span{
                                width: 100%;
                                height: 44px;
                                color: #1C1C1C;
                                font-family: 'Roboto', sans-serif;
                                font-size: 15px;
                                line-height: 22px;
                                font-weight: 500;
                             }
                    }
                }  
            } 
            .stats-right{
                display: flex;
                width: 35%;
                height: 660px;
                border-left: 1px solid #E0E0E0;
                ul{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: space-between;
                    flex-direction: column;
                    padding-left: 10px;
                    li {
                        flex-direction: column;
                        display: flex;
                        width: 100%;
                        height: 30%;
                            P{
                                color: #1C1C1C;
                                font-family: 'Roboto', sans-serif;
                                font-size: 40px;
                                line-height: 45px;
                                font-weight: 700;
                                padding-bottom: 15px;
                                 
                            }
                            span{
                                width: 100%;
                                height: 44px;
                                color: #1C1C1C;
                                font-family: 'Roboto', sans-serif;
                                font-size: 15px;
                                line-height: 22px;
                                font-weight: 500;
                             }
                    }
                }  
            }       
    }
    }

        .bottom{
    width: 100%;
    height: 37vh;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 30px;
    flex-wrap: wrap;
        .introduction-bottom{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .slogan-3{
                display: flex;
                width: 100%;
                height: 40%;
                flex-direction: column;
                align-items: center;
                    h2{
                        color: #1C1C1C;
                        font-family: 'Roboto', sans-serif;
                        font-size: 45px;
                        line-height: 45px;
                        font-weight: 700; 
                    }
                    p{
                        width: 72%;
                        color: #1C1C1C;
                        font-family: 'Roboto', sans-serif;
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 400;
                        text-align: center;
                        padding-top: 15px;
                        padding-bottom: 30px;
                    }
            }
            .commercial{
                display: flex;
                width: 100%;
                height: 100%;
                    ul{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                            li{
                                display: flex;
                                width: 100%;
                                height: 75%;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                    .insight{
                                        width: 50px;
                                        height: 50px;
                                        justify-content: center;
                                        display: flex;
                                    }
                                    h3{
                                        width: 80%;
                                        color: #1C1C1C;
                                        font-family: 'Roboto', sans-serif;
                                        font-size: 19px;
                                        line-height: 35px;
                                        font-weight: 700;
                                        text-align: center;
                                        padding-top: 15px;    
                                    }
                                    p{
                                        width: 72%;
                                        color: #1C1C1C;
                                        font-family: 'Roboto', sans-serif;
                                        font-size: 15px;
                                        line-height: 20px;
                                        font-weight: 400;
                                        text-align: center;
                                        padding-top: 15px;
                                    }
                            }
                    }
            }
    }
    }
        .power{
            width: 100%;
            height: 85vh;
            background:#F5F5F5;
            display: flex;
            position: relative;
                .use{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                        h2{
                            width: 100%;
                            height: 11vh;
                            text-align: center;
                            padding-top: 65px;
                            font-family: 'Roboto', sans-serif;
                            font-size: 40px;
                            font-weight: 700;
                            line-height: 45px;
                        }
                        p{
                            width: 100%;
                            height: 5vh;
                            text-align: center;
                            font-family: 'Roboto', sans-serif;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 23px;
                            padding-top: 25px;
                        }
                        img{
                            width: 100%;
                            height: auto;
                            display: flex;
                            padding-top: 50px;
                        }
                        .buttons{
                            width: 100%;
                            height: 15vh;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            
                            
                            .left{
                                width: 190px;
                                height: 40px;
                                border-radius: 30px;
                                background-color: #6F2CFF;
                                color: #fff;
                                border: none;
                                cursor: pointer;
                                margin-right: 11px;
                            }
                            .right{
                                width: 190px;
                                height: 40px;
                                border-radius: 30px;
                                background-color: #fff;
                                color: #6F2CFF;
                                border: none;
                                cursor: pointer;
                                margin-left: 11px;
                            }
                        }
                }

        }
        .recamendations{
            width: 100%;
            height: 1000px;
            background:#ffffff;
            display: flex;
                h1{
                    width: 100%;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
                .cards{
                    width: 100%;
                    height: 800px;
                    display: flex;
                    height: auto;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 15px 0 15px 0;
                    .card{
                        width: 276px;
                        height: 151px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 50px;
                        .item-1{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            
                        }
                            img{
                                width:50px ;
                                height: 50px;
                                display: flex;
                            }
                        }
                }
                
        }
}