* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 83%;
  margin: 0 auto;
}

.container-commerce {
  max-width: 75%;
  margin: 0 auto;
}

header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  z-index: 3;
}
header .head {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 100%;
  /* navigation */
}
header .head .logo {
  display: flex;
}
header .head .logo a {
  display: flex;
  width: 79px;
  height: 24px;
}
header .head .site-navigation {
  position: relative;
  justify-content: center;
  display: flex;
  width: 100%;
}
header .head .site-navigation nav {
  display: flex;
}
header .head .site-navigation nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
header .head .site-navigation nav ul li {
  margin-left: 42px;
}
header .head .site-navigation nav ul li a {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  align-items: center;
}
header .head .log {
  width: 30%;
  display: flex;
  height: 100%;
}
header .head .log ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
header .head .log ul button {
  display: flex;
  justify-content: flex-end;
  width: 157px;
  height: 40px;
  align-items: center;
  background-color: #6F2CFF;
  border: none;
  border-radius: 20px;
  justify-content: center;
  cursor: pointer;
}
header .head .log ul button .btn {
  color: #fff;
}
header .head .log ul li {
  /* display: flex; */
}
header .head .log ul li .log-in {
  margin-left: 42px;
  display: flex;
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  align-items: center;
}

main {
  width: 100%;
  height: 320vh;
  display: flex;
  flex-direction: column;
  position: absolute;
}
main .introduction {
  background-image: url(../image/bg\ 1.png);
  width: 100%;
  height: 700px;
  background-size: cover;
  padding-bottom: 40px;
}
main .introduction .content {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
main .introduction .content .slogan {
  width: 261px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-bottom: 19px;
}
main .introduction .content .head-content {
  width: 470px;
  height: 61px;
}
main .introduction .content .head-content h1 {
  font-size: 54px;
  font-family: "Roboto", sans-serif;
  line-height: 61px;
}
main .introduction .content .middle-content {
  width: 470px;
  height: 61px;
}
main .introduction .content .middle-content h2 {
  font-size: 54px;
  font-family: "Roboto", sans-serif;
  color: #6F2DFF;
  line-height: 61px;
}
main .introduction .content .description {
  width: 458px;
  height: 120px;
  margin-top: 37px;
}
main .introduction .content .description h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 18px;
  align-content: flex-end;
  line-height: 30px;
}
main .introduction .content .description h3 span {
  font-weight: 900;
}
main .introduction .content .register {
  display: flex;
  width: 100%;
  height: 0 auto;
}
main .introduction .content .register input {
  width: 268px;
  height: 45px;
  border: 1px solid #6F2CFF;
  border-radius: 20px 0 0 20px;
  padding-left: 19px;
}
main .introduction .content .register .demo {
  width: 187px;
  background-color: #6F2CFF;
  border: 1px solid #6F2CFF;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}
main .introduction .content .register .demo a {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
main .top {
  width: 100%;
  background-color: #fff;
  height: 100vh;
}
main .top .brands {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 50px;
  flex-wrap: wrap;
  /* align-items: center; */
}
main .top .brands .brands-introduction {
  width: 100%;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .top .brands .brands-introduction h3 {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  align-items: center;
}
main .top .brands .customers {
  display: flex;
  flex-direction: column;
  position: relative;
}
main .top .brands .customers ul {
  display: flex;
  width: 100%;
  height: 37px;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .top .brands .to-customers {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 66px;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
main .top .brands .to-customers a {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 33px;
  font-weight: 700;
}
main .top .brands .to-customers .underline {
  content: "";
  display: flex;
  width: 200px;
  border-radius: 10px;
  height: 4px;
  background: #6F2CFF;
  /* margin: 20px auto 25px; */
}
main .top .stats {
  display: flex;
  width: 100%;
  max-height: 66vh;
  padding-top: 50px;
  align-items: center;
}
main .top .stats .stats-book {
  display: flex;
  width: 65%;
  height: 45vh;
  align-items: center;
}
main .top .stats .stats-book .slogan-2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
main .top .stats .stats-book .slogan-2 h1 {
  padding-bottom: 58px;
  font-size: 40px;
  line-height: 45px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
main .top .stats .stats-book .slogan-2 .demo-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
main .top .stats .stats-book .slogan-2 .demo-btn .demo {
  display: flex;
  justify-content: flex-end;
  width: 187px;
  height: 40px;
  align-items: center;
  background-color: #6F2CFF;
  border: none;
  border-radius: 20px;
  justify-content: center;
  cursor: pointer;
}
main .top .stats .stats-book .slogan-2 .demo-btn .demo a {
  color: #fff;
}
main .top .stats .stats-book .slogan-2 .demo-btn .to-customers-2 {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 66px;
  align-items: center;
  flex-direction: column;
}
main .top .stats .stats-book .slogan-2 .demo-btn .to-customers-2 a {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 33px;
  font-weight: 700;
}
main .top .stats .stats-book .slogan-2 .demo-btn .to-customers-2 .underline-2 {
  content: "";
  display: flex;
  width: 164px;
  border-radius: 10px;
  height: 4px;
  background: #6F2CFF;
}
main .top .stats .stats-book .slogan-2 .audit {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: column;
}
main .top .stats .stats-book .slogan-2 .audit h3 {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
  padding-bottom: 7px;
  padding-top: 56px;
}
main .top .stats .stats-book .slogan-2 .audit a {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  border-bottom: 0.5px solid #1C1C1C;
  width: 26%;
}
main .top .stats .stats-left {
  display: flex;
  width: 30%;
  height: 660px;
  border-left: 1px solid #E0E0E0;
}
main .top .stats .stats-left ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 10px;
}
main .top .stats .stats-left ul li {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 30%;
}
main .top .stats .stats-left ul li P {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  padding-bottom: 15px;
}
main .top .stats .stats-left ul li span {
  width: 100%;
  height: 44px;
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}
main .top .stats .stats-right {
  display: flex;
  width: 35%;
  height: 660px;
  border-left: 1px solid #E0E0E0;
}
main .top .stats .stats-right ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 10px;
}
main .top .stats .stats-right ul li {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 30%;
}
main .top .stats .stats-right ul li P {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  padding-bottom: 15px;
}
main .top .stats .stats-right ul li span {
  width: 100%;
  height: 44px;
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}
main .bottom {
  width: 100%;
  height: 37vh;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 30px;
  flex-wrap: wrap;
}
main .bottom .introduction-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main .bottom .introduction-bottom .slogan-3 {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: column;
  align-items: center;
}
main .bottom .introduction-bottom .slogan-3 h2 {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}
main .bottom .introduction-bottom .slogan-3 p {
  width: 72%;
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}
main .bottom .introduction-bottom .commercial {
  display: flex;
  width: 100%;
  height: 100%;
}
main .bottom .introduction-bottom .commercial ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .bottom .introduction-bottom .commercial ul li {
  display: flex;
  width: 100%;
  height: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .bottom .introduction-bottom .commercial ul li .insight {
  width: 50px;
  height: 50px;
  justify-content: center;
  display: flex;
}
main .bottom .introduction-bottom .commercial ul li h3 {
  width: 80%;
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  line-height: 35px;
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
}
main .bottom .introduction-bottom .commercial ul li p {
  width: 72%;
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 15px;
}
main .power {
  width: 100%;
  height: 85vh;
  background: #F5F5F5;
  display: flex;
  position: relative;
}
main .power .use {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
main .power .use h2 {
  width: 100%;
  height: 11vh;
  text-align: center;
  padding-top: 65px;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
}
main .power .use p {
  width: 100%;
  height: 5vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  padding-top: 25px;
}
main .power .use img {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 50px;
}
main .power .use .buttons {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .power .use .buttons .left {
  width: 190px;
  height: 40px;
  border-radius: 30px;
  background-color: #6F2CFF;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 11px;
}
main .power .use .buttons .right {
  width: 190px;
  height: 40px;
  border-radius: 30px;
  background-color: #fff;
  color: #6F2CFF;
  border: none;
  cursor: pointer;
  margin-left: 11px;
}
main .recamendations {
  width: 100%;
  height: 1000px;
  background: #ffffff;
  display: flex;
}
main .recamendations h1 {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .recamendations .cards {
  width: 100%;
  height: 800px;
  display: flex;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0 15px 0;
}
main .recamendations .cards .card {
  width: 276px;
  height: 151px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}
main .recamendations .cards .card .item-1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .recamendations .cards .card img {
  width: 50px;
  height: 50px;
  display: flex;
}/*# sourceMappingURL=style.css.map */